.dashboard {
    min-height: 100vh;
    background-color: rgb(229, 228, 228);
    display: block;
    overflow: auto;
}
.dashboard .filter-box{
    padding: 2rem 2rem 1rem 2rem;
    display: block;
    background-color: white;
}

.column-title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0rem;
}
.uname {
    background-color: white;
    border-radius: 50rem;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
      justify-content: center;
      align-items: center;
    border: 1px solid rgb(173, 173, 173);
}
.avail{
    height: 0.75rem;
    width: 0.75rem;
    background-color: gray;
    border-radius: 1rem;
    border: 1px solid white;
    position: relative;
    left: -0.6rem;
    bottom: -0.6rem;
}
.avail.active{
    background-color: green;
}

.dashboard .cards{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5,1fr)
}
.cards{
    padding: 0 2rem 2rem 2rem;
}

